from contentcuration.settings import *

STORAGE_ROOT = "/var/www/{{ content_curation_prefix }}_storage/"
STATIC_ROOT = "/var/www/{{ content_curation_prefix }}_static/"

DB_ROOT = "/var/www/{{ content_curation_prefix }}_content_db_export/"

MEDIA_ROOT = STORAGE_ROOT

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'handlers': {
        'file': {
            'level': 'DEBUG',
            'class': 'logging.FileHandler',
            'filename': '/tmp/django.log',
        },
    },
    'loggers': {
        'django': {
            'handlers': ['file'],
            'level': 'DEBUG',
            'propagate': True,
        },
    },
}

{% if content_curation_sendgrid_email_host is defined %}
EMAIL_HOST = "{{ content_curation_sendgrid_email_host }}"
{% endif %}

{% if content_curation_sendgrid_email_host_user is defined %}
EMAIL_HOST_USER = "{{ content_curation_sendgrid_email_host_user }}"
{% endif %}

{% if content_curation_sendgrid_email_host_password is defined %}
EMAIL_HOST_PASSWORD = "{{ content_curation_sendgrid_email_host_password }}"
{% endif %}

{% if content_curation_sendgrid_email_port is defined %}
EMAIL_PORT = "{{ content_curation_sendgrid_email_port }}"
{% endif %}

{% if content_curation_sendgrid_email_use_tls is defined %}
EMAIL_USE_TLS = {{ content_curation_sendgrid_email_use_tls }}
{% endif %}