from contentcuration.settings import *

STORAGE_ROOT = "/var/www/{{ content_curation_prefix }}_storage/"
STATIC_ROOT = "/var/www/{{ content_curation_prefix }}_static/"

DB_ROOT = "/var/www/{{ content_curation_prefix }}_content_db_export/"

MEDIA_ROOT = STORAGE_ROOT

DATABASES = {
   'default': {
       'ENGINE': 'django.db.backends.postgresql_psycopg2', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
       'NAME': "{{ content_curation_database_name }}",
       'USER': "{{ content_curation_database_user }}",
       'PASSWORD': "{{ content_curation_database_password }}",
       'HOST': 'localhost',                      # Empty for localhost through domain sockets or '127.0.0.1' for localhost through TCP.
       'PORT': '',                      # Set to empty string for default.
   },
   'export_staging': {
       'ENGINE': 'django.db.backends.sqlite3',
       'NAME': os.path.join(BASE_DIR, 'export_staging.sqlite3')
   }
}

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'handlers': {
        'file': {
            'level': 'DEBUG',
            'class': 'logging.FileHandler',
            'filename': '/tmp/django.log',
        },
    },
    'loggers': {
        'django': {
            'handlers': ['file'],
            'level': 'DEBUG',
            'propagate': True,
        },
    },
}

{% if content_curation_sendgrid_email_host is defined %}
EMAIL_HOST = "{{ content_curation_sendgrid_email_host }}"
{% endif %}

{% if content_curation_sendgrid_email_host_user is defined %}
EMAIL_HOST_USER = "{{ content_curation_sendgrid_email_host_user }}"
{% endif %}

{% if content_curation_sendgrid_email_host_password is defined %}
EMAIL_HOST_PASSWORD = "{{ content_curation_sendgrid_email_host_password }}"
{% endif %}

{% if content_curation_sendgrid_email_port is defined %}
EMAIL_PORT = "{{ content_curation_sendgrid_email_port }}"
{% endif %}

{% if content_curation_sendgrid_email_use_tls is defined %}
EMAIL_USE_TLS = {{ content_curation_sendgrid_email_use_tls }}
{% endif %}
